<div class="global">
    <div><h3 class="title">Burger Queen</h3></div>
    <div>
        <ul class="navBar">
            <li class="btn" routerLinkActive="active" routerLink="/home"><i class="fa fa-home" style="padding-right: 4px;"aria-hidden="true"></i>Home</li>
            <li class="btn" routerLinkActive="active" routerLink="/home"><i class="fa fa-bandcamp" style="padding-right: 4px;" aria-hidden="true"></i>Explore</li>
            <li class="btn" routerLinkActive="active" routerLink="/cart"><i class="fa fa-shopping-cart" style="padding-right: 4px;" aria-hidden="true"></i>Cart</li>
            <li class="btn" routerLinkActive="active" routerLink="/user"><i class="fa fa-user-circle-o" style="padding-right: 4px;" aria-hidden="true"></i>User</li>    
        </ul>
        <ul class="navBar">
            <li class="btn" routerLinkActive="active" routerLink="/notifications"><i class="fa fa-bell" style="font-size: 18px;" aria-hidden="true"></i></li>
        </ul>
    </div>
</div>
